@import url('http://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

Label{
    -fx-font-family: Inter;
}

#monthAndYearId {
    -fx-font-family: Inter;
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#dayNameLabelId {
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#buttonsId {
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#dayNumberId {
    -fx-font-weight: bold;
}